---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    {{ content }}
    {% include 'planets' %}

<script>
    ScrollReveal().reveal('#solar-system');
</script>
</body>
</html>